<h1>Custom NgControl, ValueAccessor and FormControl demo</h1>

<section>
  <h2>Reactive form examples</h2>
  <form [formGroup]="form">
    <app-text-form-control [formControl]="form.get('control1')"></app-text-form-control>
    <app-text-form-control formControlName="control2"></app-text-form-control>
    <app-conventional-text-form-control [formControl]="control3" [options]="modelOptions"></app-conventional-text-form-control>
    <div>Form valid: {{ form.valid }}</div>
    <div>{{ form.value | json }}</div>
  </form>
</section>

<section>
  <h2>NgModel example</h2>
  <app-text-form-control [(ngModel)]="model" [options]="modelOptions"></app-text-form-control>
  {{ model }}
</section>
