<h1>Custom FormsModule with ValueAccessor2 and FormControl2 demo</h1>

<section>
  <h2>Reactive form examples</h2>
  <form [formGroup]="form">
    <app-text-form-control [formControl]="control1"></app-text-form-control>
    <app-text-form-control [formControl]="control2"></app-text-form-control>
    <app-conventional-text-form-control [formControl]="control3"></app-conventional-text-form-control>
    <div>Form valid: {{ form.valid }}</div>
    <div>{{ form.value | json }}</div>
  </form>
</section>

<section>
  <h2>NgModel example</h2>
  <app-text-form-control [(ngModel)]="model" [options]="modelOptions"></app-text-form-control>
  {{ model }}
  <app-text-form-control [(ngModel)]="model2" [options]="modelOptions" [controlType]="controlType"></app-text-form-control>
  {{ model2 }}
</section>
